body{
  margin-top: 100px;
}
      .box {
        box-shadow: 0px 0px 10px 3px rgba(134, 131, 131, 0.354);

        
        text-align: center;
        max-width: 400px;
        margin: auto;

        border-radius: 10px;
        padding: 10px;

        background-color: white;
      }
      .btn {
        display: grid;
        grid-template-columns: 40px 40px 40px 40px;

        margin: auto;
        row-gap: 25px;
        column-gap: 60px;
        align-self: center;
        justify-self: center;
        margin-bottom: 20px;
      }
      button {
        background-color: white;
        box-shadow: 0px 0px 6px 1px rgba(86, 85, 85, 0.442);
        border: 0px;
        border-radius: 10px;
        font-size: 1.5em;
        padding: 25px 35px;
        justify-content: center;
        justify-self: center;

        transition: 0.1s ease-in-out;
      }
      button:hover {
        transform: scale(1.1);
        transition: 0.1s ease-in-out;
      }
      button:hover:active {
        transform: scale(0.95);
        transition: 0.1s ease-in-out;
      }
      .display {
        border-radius: 10px;
        border: 0px;
        box-shadow: 0px 0px 10px 2px rgba(131, 130, 130, 0.367);
        display: grid;
        grid-template-columns: 160px;

        font-size: 1.5em;
        display: grid;

        align-items: center;
        padding: 20px;
        width: 340px;
        margin-bottom: 20px;
        margin-top: 10px;
        justify-self: center;
        text-align: right;
      }
    
